@tailwind base;
@tailwind components;
@tailwind utilities;


#main{
  
  width: 65%;
}
#sMain{
  
  width: 33.8%;
}

#navbar{
  width: 33%;
}
#line{
  width: 2px;
}
#msgbar{
  margin-top: auto;
}
#conDiv{
  width: auto;
}
#msgin{
  width: auto;
  height: auto;
}