@tailwind base;
@tailwind components;
@tailwind utilities;


#main{
  
  width: 65%;
}
#sMain{
  
  width: 33.8%;
}



#Ticon{
  stroke-width: 1px;
}

#header{
width: 65%;
}
#footer{
width:96%;
}





  #search{
  padding-left: 20%;
  padding-bottom:1% ;
  }
  #Ticon{
    stroke-width:1px;
  }
  
  input{
    outline: none;
  }
  #search{
  padding-left: 20%;
  padding-bottom:1% ;
  }
  #top{
    z-index: 1;
  }
  #down{
    z-index: 0;
    margin-top: 130px;
  }
  #inPut{
    width: 54%;
  }

 #Sdiv{
  width:3%;
 }
